* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Merriweather", serif;
}

.header {
  background-color: #609BB3;
  margin-bottom: 70px;
}
.header .logo {
  width: 5%;
  padding-left: 10px;
}
.header .container-fluid {
  font-size: 15rem;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Merriweather", serif;
}
.header .container-fluid .drop {
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Merriweather", serif;
}

.items {
  font-size: 4rem;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  color: #fff;
  background: #262626;
  justify-content: space-around;
}

.logo {
  width: 10%;
}
.logo img {
  width: 100%;
}

.explore {
  text-align: center;
}
.explore h2 {
  font-size: 4rem;
  text-align: center;
}
.explore .box {
  text-align: center;
  list-style: none;
}
.explore .box li {
  font-size: 3rem;
}
.explore .box li a {
  color: white;
  text-decoration: none;
}
.explore .box li a:hover {
  background-color: #609BB3;
}

.footer-2 {
  display: flex;
  justify-content: center;
  color: #fff;
  background: #262626;
  padding: 50px;
}

.firma {
  align-self: center;
}
.firma p {
  font-size: 2rem;
}
.firma .link-footer {
  font-size: 2rem;
}

.intro-auto {
  font-family: "Merriweather", serif;
}
.intro-auto h1 {
  font-size: 4rem;
  text-decoration: underline;
  padding-bottom: 20px;
}

.auto-text {
  padding-bottom: 100px;
  font-family: "Merriweather", serif;
}
.auto-text h2 {
  font-size: 3rem;
}
.auto-text p {
  font-size: 2rem;
  text-align: justify;
}
.auto-text .foto {
  width: 75%;
}

.tapa img {
  width: 40%;
}

.index-intro {
  margin-top: 100px;
}
.index-intro p {
  font-size: 2rem;
  text-align: justify;
}

.index-uni {
  margin-top: 200px;
}
.index-uni h2 {
  font-size: 4rem;
  color: #609BB3;
}
.index-uni p {
  font-size: 1.5rem;
  text-align: justify;
}
.index-uni a {
  font-size: 2rem;
  margin-bottom: 50px;
  margin-top: 50px;
}
.index-uni .index-uni-tem:hover {
  background-color: #BBE2F2;
}
.index-uni .index-uni-uni:hover {
  background-color: #BBE2F2;
}

.index-pro {
  background-color: #609BB3;
  margin-top: 100px;
}
.index-pro h2 {
  font-size: 3rem;
}
.index-pro p {
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .res {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contac {
  background-color: #BFD3DB;
}
.contac h1 {
  font-size: 4rem;
}
.contac .email {
  font-size: 3rem;
}
.contac .consul {
  font-size: 3rem;
}

.uni-tit h1 {
  font-size: 4rem;
}

.uni-uno {
  padding-top: 100px;
}
.uni-uno h1 {
  font-size: 4rem;
}
.uni-uno h2 {
  font-size: 3rem;
}
.uni-uno h3 {
  font-size: 3rem;
}
.uni-uno h4 {
  font-size: 3rem;
}
.uni-uno p {
  font-size: 2rem;
  text-align: justify;
}
.uni-uno img {
  width: 50%;
}
.uni-uno .num:hover {
  background-color: #609BB3;
}

uni-dos h1 {
  font-size: 4rem;
}
uni-dos h2 {
  font-size: 3rem;
}
uni-dos h3 {
  font-size: 3rem;
}
uni-dos h4 {
  font-size: 3rem;
}
uni-dos p {
  font-size: 2rem;
  text-align: justify;
}

uni-tres h1 {
  font-size: 4rem;
}
uni-tres h2 {
  font-size: 3rem;
}
uni-tres h3 {
  font-size: 3rem;
}
uni-tres h4 {
  font-size: 3rem;
}
uni-tres p {
  font-size: 2rem;
  text-align: justify;
}

.red-tit h1 {
  font-size: 4rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #0000;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.4s;
}

.icon:nth-child(1):hover {
  box-shadow: 0px 0px 10px #0E34A0;
}

.icon:nth-child(2):hover {
  box-shadow: 0px 0px 10px #750D37;
}

.icon:nth-child(3):hover {
  box-shadow: 0px 0px 10px #04F06A;
}

.icon:nth-child(4):hover {
  box-shadow: 0px 0px 10px #9AC4F8;
}

.fa-facebook-f {
  color: #0E34A0;
  filter: drop-shadow(0px 0px 10px #0E34A0);
}

.fa-instagram {
  color: #750D37;
  filter: drop-shadow(0px 0px 10px #750D37);
}

.fa-whatsapp {
  color: #04F06A;
  filter: drop-shadow(0px 0px 10px #04F06A);
}

.fa-twitter {
  color: #9AC4F8;
  filter: drop-shadow(0px 0px 10px #9AC4F8);
}

.error {
  padding: 100px;
}

.error-logo {
  width: 20%;
}

.error-h1 {
  font-size: 15rem;
  color: #BBE2F2;
}

.error-h2 {
  font-size: 5rem;
  color: #BBE2F2;
}

.error-a {
  font-size: 4rem;
  color: #BBE2F2;
  text-decoration: none;
}

.error-a:hover {
  background-color: #fff;
}

.index-intro {
  background-color: #609BB3;
}

/*# sourceMappingURL=style.css.map */
