
// Paleta de colores

$colour-primary:#BBE2F2;
$colour-secondary: #609BB3;
$colour-tertiary:#BFD3DB;
$colour-primary-one:#A6845E;
$colour-primary-two:#F28B18;


// Colores para fuentes

$colour-font: #0000;
$colour-font-secondary: #a9a9a9;

// Tamaño de fuente

$font-size-h1: 4rem;
$font-size-h2: 3rem;
$font-size-h3: 3rem;
$font-size-h4: 2rem;
$font-size-p: 2rem;
$font-size-signature: 1.5rem;

// Familia de fuente
$font-family-primary: 'Merriweather', serif;
$font-family-secundary: 'Satisfy', cursive;

// Espaciado

$letter-spacing: 0.5px;
$letter-spacing-secundary: 2px;