// Padding

$padding-top-xl: 35px;
$padding-top-l: 30px;
$padding-top-m: 25px;
$padding-top-s: 20px;
$padding-bottom: 30px;

// Border

$border-10-10: 10px 10px;

// Alineación

$text-aling-center: center;
$text-aling-justify: justify;

// Decoración texto

$text-decoration: underline;

// Tamaño imagen

$width-imagen-xs: 5%;