.contac{
    background-color: $colour-tertiary;
    h1{
        font-size: $font-size-h1;

    }
    .email{
        font-size: $font-size-h3;
    }
    .consul{
        font-size: $font-size-h3;
    }

}