

.error{
    padding: 100px;
}
.error-logo{
    width: 20%;
}

.error-h1{
    font-size: 15rem;
    color: $colour-primary;

}
.error-h2{
    font-size: 5rem;
    color: $colour-primary;
}
.error-a{
    font-size: 4rem;
    color: $colour-primary;
    text-decoration: none;


}

.error-a:hover{
    background-color: #fff;
}