.uni-tit{
    h1{
        font-size: $font-size-h1;
    }
    
}

.uni-uno{
    padding-top: 100px;
    h1{
        font-size: $font-size-h1;
    }
    h2{
        font-size: $font-size-h2;
    }
    h3{
        font-size: $font-size-h3;
    }
    h4{
        font-size: $font-size-h3;
    }
    p{
        font-size: $font-size-p;
        text-align: justify;
    }
    img{
        width: 50%;
    }
    
    .num:hover{
        background-color: $colour-secondary;
        
    }
    
}


uni-dos{

    h1{
        font-size: $font-size-h1;
    }
    h2{
        font-size: $font-size-h2;
    }
    h3{
        font-size: $font-size-h3;
    }
    h4{
        font-size: $font-size-h3;
    }
    p{
        font-size: $font-size-p;
        text-align: justify;
    }
    
   
    
}

uni-tres{
    h1{
        font-size: $font-size-h1;
    }
    h2{
        font-size: $font-size-h2;
    }
    h3{
        font-size: $font-size-h3;
    }
    h4{
        font-size: $font-size-h3;
    }
    p{
        font-size: $font-size-p;
        text-align: justify;
    }
    
}

